<html>

<head>
    <script src="/node_modules/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <p>Arm yourself with spells</p>
        <input type="checkbox" id="MagicMissile" value="Magic Missile" v-model="dndSpells">
        <label for="MagicMissile">Magic Missile</label>
        <input type="checkbox" id="AnimateDead" value="Animate Dead" v-model="dndSpells">
        <label for="AnimateDead">Animate Dead</label>
        <input type="checkbox" id="AcidSplash" value="Acid Splash" v-model="dndSpells">
        <label for="AcidSplash">Acid Splash</label>
        <br>
        <span>My Spells: {{ dndSpells }}</span>


        <br>
        <br>
        <p>Select your character level</p>
        <input type="radio" id="one" value="One" v-model="characterLevel">
        <label for="one">One</label>
        <br>
        <input type="radio" id="two" value="Two" v-model="characterLevel">
        <label for="two">Two</label>
        <br><input type="radio" id="three" value="Three" v-model="characterLevel">
        <label for="three">Three</label>
        <br>
        <span>My Level: {{ characterLevel }}</span>
    </div>
</body>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            dndSpells: [],
            characterLevel: ""
        },
    })
</script>

</html>

<!-- app.dndSpells.push("Acid Splash"); 
 app.characterLevel = "Three"; -->