<html>

<head>
    <script src="/node_modules/vue/dist/vue.js"></script>
</head>

<body>
    <div id="app">
        <p>Arm yourself with Weapons!</p>
        <select v-model="selectedWeapon">
            <option>Battle Axe</option>
            <option>Short Sword</option>
            <option>Morning Star</option>
        </select>
        <br>
        <span>My Weapon: {{ selectedWeapon }}</span>


        <br>
        <br>
        <p>Choose your enemies</p>
        <select v-model="selectedEnemies" multiple>
            <option>Gnoll</option>
            <option>Black Dragon</option>
            <option>Tarrasque</option>
        </select>
        <br>
        <span>Selected Enemies: {{ selectedEnemies }}</span>
    </div>
</body>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            selectedWeapon: "",
            selectedEnemies: []
        },
    })
</script>

</html>

<!-- app.selectedWeapon = "Morning Star";
app.selectedEnemies.push("Black Dragon"); -->
