<html>

<head>
    <script src="/node_modules/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="/node_modules/bootstrap3/dist/css/bootstrap.min.css">
</head>

<body>
    <div id="app">
        <p>watchers</p>
        <input type="text" v-model="searchTerm" placeholder="Enter a search term"><br>
        <div v-if="productReviews.length > 0">
            <table class="table-striped table-bordered">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Reviewer</th>
                        <th>Rating</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="review in productReviews">
                        <td>{{review.date}}</td>
                        <td>{{review.reviewer}}</td>
                        <td>{{review.rating}}</td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div v-else>
            <p>No product reviews... sad bear</p>
        </div>
    </div>
</body>

<script>
    var app = new Vue({
        el: '#app',
        data: {
            searchTerm: "",
            productReviews: [],
        },
        watch: {
            searchTerm: function () {
                // Imagine this is an ajax call to do search ahead on results
                setTimeout(() => {
                    let allProductReviews = [{ date: new Date(), reviewer: "Corvette", rating: 1 },
                    { date: new Date(), reviewer: "Chevy", rating: 4 },
                    { date: new Date(), reviewer: "Camaro", rating: 4 },
                    { date: new Date(), reviewer: "Ford", rating: 3.5 },
                    { date: new Date(), reviewer: "Mustang", rating: 5 }];

                    this.productReviews = allProductReviews.filter((pr) => pr.reviewer.toLowerCase().startsWith(this.searchTerm));
                }, 500);
            }
        }
    })
</script>

</html>