<html>

<head>
    <script src="/node_modules/vue/dist/vue.js"></script>
    <link rel="stylesheet" href="/node_modules/bootstrap3/dist/css/bootstrap.min.css">
</head>

<body style="margin: 100px;">
    <div id="app">
        <div v-for="a in abilities">
            <ability :score="a.score" v-on:score-changed="abilityScoreChanged">
                <strong slot="ability-type" v-bind:style="{color: a.score < 10 ? 'red':''}">{{a.abilityType}}</strong>
            </ability>
        </div>
    </div>
</body>

<script>
    Vue.component('ability', {
        template: "<div style='border: 2px solid;padding: 4px;height: 100px;width: 120px;'><slot name='ability-type'></slot><br><input type='number' style='width: 100%;' v-model='abilityScore'><br><span>Bonus:{{bonus}}</span></div>",
        props: [
            "abilityType",
            "score",
        ],
        data: function () {
            return {
                bonus: "+3",
                abilityScore: this.score
            }
        },
        watch: {
            abilityScore() {
                this.$emit('score-changed', { abilityType: this.abilityType, newScore: this.abilityScore });
            }
        }
    })
    var app = new Vue({
        el: '#app',
        data: {
            abilities: [
                { abilityType: "Strength", score: 18 },
                { abilityType: "Agility", score: 6 },
                { abilityType: "Stamina", score: 5 },
                { abilityType: "Intelligence", score: 12 },
                { abilityType: "Constitution", score: 9 },
                { abilityType: "Wisdom", score: 10 },
                { abilityType: "Charisma", score: 30 },
            ]
        },
        methods: {
            abilityScoreChanged: function (ability) {
                console.log(ability.abilityType + " is now " + ability.newScore);
            }
        }
    })
</script>

</html>